---
layout: page
title: 所有博客
header: 博客列表
group: navigation
---
{% include JB/setup %}

<h2>所有的博客</h2>
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>